
	<div id="inner-header">
		<img src="../assets/banner1-07b529cd7bcef7e86dfddd5be58dcd87f9c8c3e43f5021aaa5ef6bd8e730b82e.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>About Us</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> About Us</a></li>
		          	</ul>
	          	</div>
	        </div>

	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- About page start -->
	<section id="about-page">
		<div class="container">
			<!--/ about intro start -->
			<div class="row">
				<div class="col-md-6 wow slideInLeft">
					<img class="img-responsive" src="../assets/about-6888fe0e427a328eee9c0e95b33c8415bf3fa12728ac20919e518a8d54ade6c2.png" alt="" />
				</div>
				<div class="col-md-6 wow slideInRight">
					<h3 class="page-content-title">Who We Are</h3>
					<p>Sawariya Agritech Pvt. Ltd Aims to provide a complete range of good Quality multi brand agri- inputs through our retail chain “ sawaria kisnan Bazarar “ like pesticides, seeds, fertilizers, farm implements and tools vet nary product, animal feeds , irrigation item, and other key inputs at fair price.    </p>
					<div class="gap-20"></div>
					<h4> CORE VALUES:</h4>
					<ul class="circle">
						<li>SAFETY AND HEALTH - G The concern for the safety and health of employees and other stakeholders ingrained in the sawariya corporate culture. We operate on the philosophy - all  accident  are preventable.
						</li>
						<li>ETHICAL BEHAVIOR - Sawariya is committed to providing employees with the information And traning necessary to comply fully eith all law, regulations,ethics Standards  to all business relationship to enable a work envirment that Is conductive to individual and company success. 
						</li>
						<li>Sed hendrerit enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt. </li>
						<li>RESPECT FOR PEOPALE - Sawariya remains committed to the highest standard of  respectful Treatment of people and strives a workplace in which all employees can Achieve their fullest potential..</li>
					</ul>
				</div>
			</div><!--/ about intro row end -->

		 

			<div class="gap-40"></div>

			<div class="row wow fadeInLeft">
				<div class="col-md-12">
		  			<div class='text-center'>
			    		<h2 class="title"><span>Meet with Our Team</span></h2>
			    	</div>
	  			</div>

	  			<div id="team-carousel" class="owl-carousel owl-theme text-center team-carousel">
		  			<div class="item">
			  			<div class="team-wrapper">
							<div class="team-img-wrapper">
								<div class="team-img-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/om prakash ji.jpg">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Om Prakash Dhakar 
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							      The tradition of the company, the membersof company view their role as Trustees of the various stakeholders and the society at large and it is their endeavour to observe best  practices. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 1 end -->
					<div class="item">
			  			<div class="team-wrapper">
							<div class="team-img-wrapper">
								<div class="team-img-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/omdhakar.jpg" class="img-circle">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Om Prakash Dhakar
							      <span>
							        Customer Care
							      </span>
							    </h3>
							    <p class="team-text">
							      The Company envisions being a dominant global player in the field of agrochemicals, biopesticides and biotechnology based products.  
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 2 end -->
					<div class="item">
			  			<div class="team-wrapper">
							<div class="team-img-wrapper">
								<div class="team-img-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/chandu.jpg" class="img-circle">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Chandrakant Dhakar
							      <span>
							        Sales Manager
							      </span>
							    </h3>
							    <p class="team-text">
							      The basic mission of the Company is to offer “Quality Consumer Products at affordable prices” and in the process delivering long-term value to all stakeholders in the Company. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 3 end -->
					<div class="item">
			  			<div class="team-wrapper">
							<div class="team-img-wrapper">
								<div class="team-img-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/rajput.JPG" class="img-circle">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      PC Rajput
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							     Company provides foundation seeds to the seed producers, which are developed under direct supervision of breeder and technical supervisors.  
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 4 end -->
					
				</div>
			</div><!--/ Team row end -->
		</div><!--/ container end -->
	</section><!-- About page end -->
	

   