<!-- Slider start -->
<section id="home">	
		<!-- Carousel -->
    	<div id="main-slide" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#main-slide" data-slide-to="0" class="active"></li>
			    <li data-target="#main-slide" data-slide-to="1"></li>
			    <li data-target="#main-slide" data-slide-to="2"></li>
			</ol><!--/ Indicators end-->

			<!-- Carousel inner -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img class="img-responsive" src="../assets/bg1-e4b6c5065e88ffd7e75668cc845cd2eb7cfcee3a61a5ee63478665001971330a.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                    		<h2 class="animated2">
                        		<span>Welcome to <strong>Sanwariya </strong></span>
                        	</h2>
                            <h3 class="animated3">
                            	<span>Kisan Bazar</span>
                            </h3>
                            <p class="animated4"><a href="#" class="slider btn btn-primary">Check Now</a></p>
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			    <div class="item">
			    	<img class="img-responsive" src="../assets/bg2-c648b8ee29269d9cc82f3f29d40a8975e3b21c2f7f6040db2a9c5359dcc2a8e4.JPG" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated4">
                                <span><strong>Sanwriya </strong> Kisan Bazar</span>
                            </h2>
                            <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>		
                            <p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a></p>	     
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			    <div class="item">
			    	<img class="img-responsive" src="../assets/bg3-faf9e4cd0c83eeb1ce96319420ba22ee310331447091184197ac5d9470a539ba.JPG" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7">
                                <span>The way of <strong>Success</strong></span>
                            </h2>
                            <h3 class="animated8">
                            	<span>Why you are waiting</span>
                            </h3>		
                            <div class="">
                                <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                            </div>     
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			</div><!-- Carousel inner end-->

			<!-- Controls -->
			<a class="left carousel-control" href="#main-slide" data-slide="prev">
		    	<span><i class="fa fa-angle-left"></i></span>
			</a>
			<a class="right carousel-control" href="#main-slide" data-slide="next">
		    	<span><i class="fa fa-angle-right"></i></span>
			</a>
		</div><!-- /carousel -->    	
    </section>
    <!--/ Slider end -->


    <!-- Newsletter start -->
    <div id="newsletter" class="wow slideInLeft">
    	<div class="container">
    		<div class="row">
				<form class="form-inline" role="form">
                      <div class="form-group col-lg-9 col-md-8 col-sm-7 col-xs-7">
                         <input type="text" class="form-control" placeholder="Want to be update with our latest offer?" >
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg">Join Our Newsletter</button>
                 </form>
    		</div>
    	</div>
    </div>
    <!-- Newsletter end -->

	<!-- Service box start -->
    <section id="service" class="wow fadeInUp">
    	<div class="container">
    		<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-desktop img-circle wow flipInX"></i></span></a>
					    <h3>Best Features</h3>
					    <p>In future we want that we can fulfill the demands and requirements of our customers. So with the support of you we can reach at the top level and can get better abd best production.</p>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-pagelines img-circle wow flipInX"></i></span></a>
					    <h3>Seeds</h3>
					    <p>Our main aim is to provide farmers with excellent seeds at reasonable prices and are committed in being "Lucky" , as our brand denotes ,to all our customers,globally. In short,the company is committed to its motto.</p>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-comments-o img-circle wow flipInX"></i></span></a>
					    <h3>Fertilizer</h3>
					    <p>Our professionals have experience in a variety of crops under various soil and climatic conditions, providing our clients with the versatility to test their products under most conditions.And given to the customers.</p>
					</div>
				</div><!--/ End 3rd service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content last">
					    <a href="#."><span class="service-icon"><i class="fa fa-flask img-circle wow flipInX"></i></span></a>
					    <h3>Pesticide</h3>
					    <p>The Company envisions being a dominant global player in the field of agrochemicals, biopesticides and biotechnology based products. </p>
					</div>
				</div><!--/ End 4th service -->
    		</div>
    	</div>
    </section><!-- Service box end -->

    <!-- Features start -->
    <section id="features">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
	    			<div class="featured-tab clearfix">
						<ul class="nav nav-tabs nav-stacked col-md-4">
						  	<li class="active">
						  		<a class="animated fadeIn" href="#tab_a" data-toggle="tab">
						  			<span class="tab-icon pull-left"><i class="fa fa-magic pull"></i></span>
						  			<div class="tab-info">
							  			<h3>Best Quality Pesticides</h3>
							  			<p>Customers Can choice there best Pesticides products.</p>
						  			</div>
						  		</a>
						  	</li>
						  	<li>
							  	<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
							  		<span class="tab-icon pull-left"><i class="fa fa-rocket pull"></i></span>
						  			<div class="tab-info">
							  			<h3>Best Quality Fertilizer</h3>
							  			<p>Customers Can choice there best Fertilizer products.</p>
						  			</div>
							  	</a>
							</li>
						 	<li class="animated fadeIn">
							  	<a href="#tab_c" data-toggle="tab">
							  		<span class="tab-icon pull-left"><i class="fa fa-umbrella pull"></i></span>
						  			<div class="tab-info">
							  			<h3>Best Quality Seeds </h3>
							  			<p>Customers Can choice there best Fertilizer products.</p>
						  			</div>
							  	</a>
							</li>
						</ul>
						<div class="tab-content col-md-8">
					        <div class="tab-pane active animated fadeInRight" id="tab_a">
					            <img class="img-responsive pull-left" src="../assets/pest.jpg" alt="">
					            <h3>Complete agriculture Solution provider </h3>
					            <h4>Pack for growth of agriculture </h4>
					            <p>Sawariya agritech pvt. Ltd. will leading Agro Retail Company that has introduced that concept of Agro retail malls in M.P. company has set up 3 agro clinics in 1st year. This chain of agro centers served as one stop shop for farmers by providing Agri-input Farm Machinery, Cattle Feed and other Argillite products.</p>
								<p> Under the Umbrella of services, company provided agronomic services including soil testing, crop inspection, weather forecasts and advisory services on farm etc.
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
					        <div class="tab-pane animated fadeInLeft" id="tab_b">
					            <img class="img-responsive pull-right" src="../assets/fertilizer.jpg" alt="">
					            <h3>Facilitating agriculture needs </h3>
					            <h4>Pack for growth of agriculture </h4>
					            <p>In its Endeavour to be a completer agriculture solution provider, the company had introduced its own retail chain of agribusiness centers and agri clinics under the brand name of “Sawariya kisan Bazar “. </p>
								<p> This chain servers farmers by facilities their all agriculture needs and provides free agricultural consultancy services ranging from sowing to harvesting of crops. The retail chain of Agro centers act as a one stop shop for farmers..
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
					        <div class="tab-pane animated fadeIn" id="tab_c">
					            <img class="img-responsive pull-left" src="../assets/seeds.png" alt="">
					            <h3>Providing exhaustive services</h3>
					            <h4>Pack for growth of agriculture </h4>
					            <p>The company plans to scale up the existing 3 centers to 40 centers in malwa within coming 5 years across 4 district Ujjain, dhar, ratlam and mandsour</p>
								<p>Ut urna dui, interdum non blandit sed. Aliquame ligula urabitur id laoreet velit.
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
						</div><!-- tab content -->
	    			</div><!-- Featured tab end -->
    			</div>
    		</div><!-- Row end -->
    	</div><!-- Container end -->
    </section> <!-- Features end -->

    <!-- Portfolio start -->
	<section id="portfolio">
		<div class="container">
		  <div class="row wow bounceIn">
		  		<div class="col-md-12">
		  			<div class='text-center'>
			    		<h2 class="title"><span>Recent Portfolio</span></h2>
			    	</div>
		  		</div>
		  </div><!--/ Title row end -->
		  <div class='row wow fadeInUp'>
		    <div class='col-lg-12'>
		      <div class="carousel slide" id="portfolio-carousel">
		        <div class="carousel-inner">
		          	<div class="item  active">
		            	<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw1-65acda17824b005c5fb513a46b6663f74d38e8e3b0f5149c103e82d750fb8820.JPG" alt="portfolio">
								</div>
							</div>          
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg2.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Sunlight Shine</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw2-cfea4565fc14959f2a51284b8adf83a0f4b305417c749f07d966d845e654d1d8.JPG" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg3.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>All Quiet Western</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw3-bfe443b828346b5070ff2a27d4b105768e65594892270982aa58ec1db768b764.JPG" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>The GodFather</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw4-6cf28859cd26cb5efcdd49c4357d8c93083e2d82c7dfdaa548e9166766f98a12.JPG" alt="portfolio">
								</div>
							</div>
		            	</div>
		          	</div><!--/ Item active end -->
					<div class="item">
			            <div class="row">
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>our Mission</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw8-b0f5e9d46e77da2ea0d9efa9a9425ad7fbb06a1f6dee108a67098459d4a423d5.JPG" alt="portfolio">
								</div>
							</div>          
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio3.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Philosphy</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw5-0fde7e64c37f76d99cf911afb78eb2e9b277a11a12682fa3a34e52a254377a7d.JPG" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Benefits</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw6-148f56eb291828ad953bafd394f026928808c01490e202c32838add66ffbdc45.JPG" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Quality Assurance</h3>
									        
								    	</div>
								    </div>
								    <img src="../assets/sw7-c2dd0cd2084c8a2f3329b27c9cbb05692664143fe040bcc652bbf5420ee250ae.JPG" alt="portfolio">
								</div>
							</div>
			            </div>
		          	</div><!--/ Item end -->
		        </div><!-- Carousel inner end -->

	        	<div class="dart-carousel-controller">
			        <a data-slide="prev" href="#portfolio-carousel" class="left"><i class="fa fa-chevron-left"></i></a>
			        <a data-slide="next" href="#portfolio-carousel" class="right"><i class="fa fa-chevron-right"></i></a>
		    	</div><!-- Controller end -->

		      </div><!-- Carousel end -->                          
		    </div><!-- Main Col end -->
		  </div><!--/ Main row end -->
		</div><!--/ Container end -->
	</section><!-- Portfolio end -->

    <!-- Service extend start -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
		  			<div class="text-center">
			    		<h2 class="title"><span>What We Do</span></h2>
			    	</div>
	  			</div>
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-legal"></i></span></a>
					    <div class="service-box-content">
						    <h3>Production</h3>
						    <p>We help the customer with best quality of products.So that our cleint will have seeds of there choice, Pesticide and fertilizer which will suit to there seeds.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-rocket"></i></span></a>
					    <div class="service-box-content">
						    <h3>Import and Export</h3>
						    <p>Export marketing is done directly and also  merchant exporters.Offered collections of these products are made by employing qualitative ingredients and progressive technology. </p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-briefcase"></i></span></a>
					    <div class="service-box-content">
						    <h3>Best Pricing</h3>
						    <p>At very reasonable price we provide seed to customer which be easy affordable by customers .</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-desktop"></i></span></a>
					    <div class="service-box-content">
						    <h3>Technologies</h3>
						    <p>New technologies products are used so that we can provide the best to the customer.We are using new Technology machines for filtering the seed.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-html5"></i></span></a>
					    <div class="service-box-content">
						    <h3>Customer Satisfaction</h3>
						    <p>Company work for the satisfaction of the customer.Because we can get success only when our customer will support us.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-wrench"></i></span></a>
					    <div class="service-box-content">
						    <h3>Customer Support</h3>
						    <p>Firstly we see the customers requirement that which type of seeds,Pesticides and Fertilizer they want for there use.That we provide to them.so the needs of customer will be fulfilled.So that we will get that there support in future with quality products.  </p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-magic"></i></span></a>
					    <div class="service-box-content">
						    <h3>Trust Building</h3>
						    <p>Delivering the product of Customers benefit and usefull.This increase the trust of cleint and with this increase the growyh of customer as well as the ours.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-bar-chart-o"></i></span></a>
					    <div class="service-box-content">
						    <h3>Best Quality Products </h3>
						    <p>We firmly believe that quality has to be given prime importance in order to achieve trust of the clients. We use wel equippted machines to make our  Products that are extracted from us. which make us assure an eco friendly range.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-cogs"></i></span></a>
					    <div class="service-box-content">
						    <h3>Best Services</h3>
						    <p>We have grown by providing and increasing our range of precise, reliable and innovative research and development services.  These services are designed to meet strict controls and guidelines, employing the latest technologies and scientific advances.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->

    		</div><!--/ service box row end -->
		</div><!--/ container end -->
	</section><!-- Service extend end -->

	<div class="gap-20"></div>

    <!-- Testimonial start-->
	<section id="testimonial" class="wow fadeInUp animated">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Customers Feedback</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row">
		    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/omdhakar.jpg" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		            <h3 class="name">Om Dhakad <span>Exectuive Director</span></h3>
		            <p class="testimonial-text">
		              “We’ve seen a gradual response… every month or so they look better.  The color is improved, the leaf size – they have a lot of normal leaves on them”.
		            </p>
		          </div>
		        </div>
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/chandu.jpg" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		          	<h3 class="name">Chandrakant Dhakad <span>Frozen Director</span></h3>
		            <p class="testimonial-text">
		              All the energies and activities of company is focused in meeting the expectations of my and supply  products that provide full satisfaction.
		            </p>
		          </div>
		        </div>
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/rajput.JPG" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		          	<h3 class="name">Pc Rajput<span>Sales Manager</span></h3>
		            <p class="testimonial-text">
		              This Company is to achieve sustained, profitable growth by providing quality products and services, which consistently satisfy the my needs and expectations.
		            </p>
		          </div>
		        </div>
		    </div>
	      	<!-- Navigation start -->
	      	<div class="customNavigation dart-carousel-controller">
		        <a class="prev left">
		        	<i class="fa fa-chevron-left"></i>
		       	</a>
		        <a class="next right">
		          <i class="fa fa-chevron-right"></i>
		        </a>
	    	</div><!--/ Navigation end -->
	    </div><!--/ Main row end-->
	  </div><!--/ Main container end-->
	</section><!-- Testimonial end-->



