<!-- Slider start -->
<section id="home">	
		<!-- Carousel -->
    	<div id="main-slide" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#main-slide" data-slide-to="0" class="active"></li>
			    <li data-target="#main-slide" data-slide-to="1"></li>
			    <li data-target="#main-slide" data-slide-to="2"></li>
			</ol><!--/ Indicators end-->

			<!-- Carousel inner -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img class="img-responsive" src="../assets/bg1.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                    		<h2 class="animated2">
                        		<span>Welcome to <strong>Sanwariya </strong></span>
                        	</h2>
                            <h3 class="animated3">
                            	<span>Kisan Bazar</span>
                            </h3>
                            <p class="animated4"><a href="#" class="slider btn btn-primary">Check Now</a></p>
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			    <div class="item">
			    	<img class="img-responsive" src="../assets/bg2.JPG" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated4">
                                <span><strong>Sanwriya </strong> Kisan Bazar</span>
                            </h2>
                            <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>		
                            <p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a></p>	     
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			    <div class="item">
			    	<img class="img-responsive" src="../assets/bg3.JPG" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7">
                                <span>The way of <strong>Success</strong></span>
                            </h2>
                            <h3 class="animated8">
                            	<span>Why you are waiting</span>
                            </h3>		
                            <div class="">
                                <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                            </div>     
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			</div><!-- Carousel inner end-->

			<!-- Controls -->
			<a class="left carousel-control" href="#main-slide" data-slide="prev">
		    	<span><i class="fa fa-angle-left"></i></span>
			</a>
			<a class="right carousel-control" href="#main-slide" data-slide="next">
		    	<span><i class="fa fa-angle-right"></i></span>
			</a>
		</div><!-- /carousel -->    	
    </section>
    <!--/ Slider end -->


    <!-- Newsletter start -->
    <div id="newsletter" class="wow slideInLeft">
    	<div class="container">
    		<div class="row">
				<form class="form-inline" role="form">
                      <div class="form-group col-lg-9 col-md-8 col-sm-7 col-xs-7">
                         <input type="text" class="form-control" placeholder="Want to be update with our latest offer?" >
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg">Join Our Newsletter</button>
                 </form>
    		</div>
    	</div>
    </div>
    <!-- Newsletter end -->

	<!-- Service box start -->
    <section id="service" class="wow fadeInUp">
    	<div class="container">
    		<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-desktop img-circle wow flipInX"></i></span></a>
					    <h3>Lorem Ipsum</h3>
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-pagelines img-circle wow flipInX"></i></span></a>
					    <h3>Lorem Ipsum</h3>
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content">
					    <a href="#."><span class="service-icon"><i class="fa fa-comments-o img-circle wow flipInX"></i></span></a>
					    <h3>Lorem Ipsum</h3>
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
					</div>
				</div><!--/ End 3rd service -->
				<div class="col-md-3 col-sm-3">
					<div class="service-content last">
					    <a href="#."><span class="service-icon"><i class="fa fa-flask img-circle wow flipInX"></i></span></a>
					    <h3>Best Features</h3>
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
					</div>
				</div><!--/ End 4th service -->
    		</div>
    	</div>
    </section><!-- Service box end -->

    <!-- Features start -->
    <section id="features">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
	    			<div class="featured-tab clearfix">
						<ul class="nav nav-tabs nav-stacked col-md-4">
						  	<li class="active">
						  		<a class="animated fadeIn" href="#tab_a" data-toggle="tab">
						  			<span class="tab-icon pull-left"><i class="fa fa-magic pull"></i></span>
						  			<div class="tab-info">
							  			<h3>Easily Customizable</h3>
							  			<p>No need to do extract code</p>
						  			</div>
						  		</a>
						  	</li>
						  	<li>
							  	<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
							  		<span class="tab-icon pull-left"><i class="fa fa-rocket pull"></i></span>
						  			<div class="tab-info">
							  			<h3>The Power of Soid Code</h3>
							  			<p>The valid code with extrac care</p>
						  			</div>
							  	</a>
							</li>
						 	<li class="animated fadeIn">
							  	<a href="#tab_c" data-toggle="tab">
							  		<span class="tab-icon pull-left"><i class="fa fa-umbrella pull"></i></span>
						  			<div class="tab-info">
							  			<h3>Clean Responsive Design</h3>
							  			<p>Valid HTML5 and CSS3 Code</p>
						  			</div>
							  	</a>
							</li>
						</ul>
						<div class="tab-content col-md-8">
					        <div class="tab-pane active animated fadeInRight" id="tab_a">
					            <img class="img-responsive pull-left" src="../assets/featured-tab1.png" alt="">
					            <h3>Harmony from the World heart</h3>
					            <h4>Simply dummy text of the printing</h4>
					            <p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
					        <div class="tab-pane animated fadeInLeft" id="tab_b">
					            <img class="img-responsive pull-right" src="../assets/featured-tab2.png" alt="">
					            <h3>Light in the Dart World Gallery</h3>
					            <h4>Phtoshop is the most usefule thing</h4>
					            <p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
					        <div class="tab-pane animated fadeIn" id="tab_c">
					            <img class="img-responsive pull-left" src="../assets/featured-tab3-273afeb4215e575464cecac78d16d6c95706d5b5505dae1ba927d803579fea1e.png" alt="">
					            <h3>Lambargini the Biggest Show</h3>
					            <h4>Simply dummy text of the printing</h4>
					            <p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<p>Ut urna dui, interdum non blandit sed. Aliquame ligula urabitur id laoreet velit.
								</p>
								<a href="#" class="read-more">Read More <i class="fa fa fa-long-arrow-right"></i></a>
					        </div>
						</div><!-- tab content -->
	    			</div><!-- Featured tab end -->
    			</div>
    		</div><!-- Row end -->
    	</div><!-- Container end -->
    </section> <!-- Features end -->

    <!-- Portfolio start -->
	<section id="portfolio">
		<div class="container">
		  <div class="row wow bounceIn">
		  		<div class="col-md-12">
		  			<div class='text-center'>
			    		<h2 class="title"><span>Recent Portfolio</span></h2>
			    	</div>
		  		</div>
		  </div><!--/ Title row end -->
		  <div class='row wow fadeInUp'>
		    <div class='col-lg-12'>
		      <div class="carousel slide" id="portfolio-carousel">
		        <div class="carousel-inner">
		          	<div class="item  active">
		            	<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio1-009a69cee48494af03c38d42095b3f96f57d4fe5790d6cb28d54031943eb37f8.jpg" alt="portfolio">
								</div>
							</div>          
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg2.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Sunlight Shine</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio2-227d91ca223514d737b8c7e00bb0053b408b31e8a7d6601ab0a4a41975083e42.jpg" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg3.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>All Quiet Western</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio3-49990a5507603204a0675dd2dc5f11127713d72ec9c3fe582bb08646dcdef558.jpg" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="portfolio-item.html" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>The GodFather</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio4-3be2e1e93e74f5ae86db3473fcb4d6d38aa8aa96c29097e65906924973726522.jpg" alt="portfolio">
								</div>
							</div>
		            	</div>
		          	</div><!--/ Item active end -->
					<div class="item">
			            <div class="row">
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio5-dd7fcc737ce1739658587a86e69c9c176248eb89df8efe170d0de1bb7d4795cb.jpg" alt="portfolio">
								</div>
							</div>          
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio3.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio3-49990a5507603204a0675dd2dc5f11127713d72ec9c3fe582bb08646dcdef558.jpg" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio7-cc6736307d4eece617ed367f9f7b66d9970dbb906d84e039dec6aee7c3af5005.jpg" alt="portfolio">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3">   
								<div class="thumbnail">
								    <div class="caption">
								    	<div class="caption-content">
									    	<span>
												<a data-rel="prettyPhoto" href="../assets/portfolio-bg1.jpg">
												    <i class="fa fa-search"></i>              
												</a>
									        	<a href="#" class=""><i class="fa fa-link"></i></a>
									        </span>
									        <h3>Creative Vision</h3>
									        <p>Effektive is more than your average agency.</p>
								    	</div>
								    </div>
								    <img src="../assets/portfolio8-042fa7ed41e3638e1b9de56926ffbb4459c39dfd5b57b1913627797838c493ac.jpg" alt="portfolio">
								</div>
							</div>
			            </div>
		          	</div><!--/ Item end -->
		        </div><!-- Carousel inner end -->

	        	<div class="dart-carousel-controller">
			        <a data-slide="prev" href="#portfolio-carousel" class="left"><i class="fa fa-chevron-left"></i></a>
			        <a data-slide="next" href="#portfolio-carousel" class="right"><i class="fa fa-chevron-right"></i></a>
		    	</div><!-- Controller end -->

		      </div><!-- Carousel end -->                          
		    </div><!-- Main Col end -->
		  </div><!--/ Main row end -->
		</div><!--/ Container end -->
	</section><!-- Portfolio end -->

    <!-- Service extend start -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
		  			<div class="text-center">
			    		<h2 class="title"><span>What We Do</span></h2>
			    	</div>
	  			</div>
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-legal"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-rocket"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-briefcase"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-desktop"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-html5"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-wrench"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-magic"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-bar-chart-o"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-cogs"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem Ipsum</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->

    		</div><!--/ service box row end -->
		</div><!--/ container end -->
	</section><!-- Service extend end -->

	<div class="gap-20"></div>

    <!-- Testimonial start-->
	<section id="testimonial" class="wow fadeInUp animated">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Customers Feedback</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row">
		    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/testimonial1-fea68432202e53dbfbb7cf8495941c11efdeb19070c5b0afc20c31fe090b4cb2.png" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		            <h3 class="name">Katee Nureen <span>Exectuive Director</span></h3>
		            <p class="testimonial-text">
		              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
		            </p>
		          </div>
		        </div>
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/testimonial2.png" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		          	<h3 class="name">Angry Figer <span>Frozen Director</span></h3>
		            <p class="testimonial-text">
		              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
		            </p>
		          </div>
		        </div>
		        <div class="item">
		          <div class="testimonial-thumb">
		            <img class="img-circle" src="../assets/testimonial3.png" alt="testimonial">
		          </div>
		          <div class="testimonial-content">
		          	<h3 class="name">Monica Lunaxy<span>Sales Manager</span></h3>
		            <p class="testimonial-text">
		              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
		            </p>
		          </div>
		        </div>
		    </div>
	      	<!-- Navigation start -->
	      	<div class="customNavigation dart-carousel-controller">
		        <a class="prev left">
		        	<i class="fa fa-chevron-left"></i>
		       	</a>
		        <a class="next right">
		          <i class="fa fa-chevron-right"></i>
		        </a>
	    	</div><!--/ Navigation end -->
	    </div><!--/ Main row end-->
	  </div><!--/ Main container end-->
	</section><!-- Testimonial end-->


	<!-- Call to action start-->
	<section id="action">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12 text-center">
                <h2>Clean Multipurpose HTML Theme</h2>
                <h3>Simple But Best Value of Your Every Penny</h3>
               	<a class="action btn btn-primary btn-min-block" href="#">See More</a>
                <a class="action btn btn-default btn-min-block" href="#">Buy Now</a>
            </div>

	    </div><!--/ Main row end-->
	  </div><!--/ Main container end-->
	</section><!-- Call to action end-->


    <!-- Clients start -->
	<section id="clients">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Clients</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row wow fadeInLeft">
	      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client1.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client2.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client3.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client4.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client5.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client6.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client7.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client8.png" alt="client">
	          </a>
	        </figure>
	      </div><!-- Owl carousel end -->
	    </div><!-- Main row end -->
	  </div><!-- Main container end -->
	</section><!-- Clients end -->


