
	<div id="inner-header">
		<img src="../assets/banner5-5b5a942f6745eff77dabed6820508c1cd16665667e3b647fc641ef3be0bc33ea.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Portfolio 4 Column</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Portfolio</a></li>
			            <li><a href="#"> Portfolio 4 Column</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Portfolio page start -->
	<section id="portfolio-page">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12"  id="isotope-filter">
					<a data-filter="*" href="#" class="active">Show All</a>
					<a data-filter=".web-design" href="#" class="">Categories1</a>
					<a data-filter=".development" href="#" class="">Categories2</a>
					<a data-filter=".joomla" href="#" class="">Categories3</a>
					<a data-filter=".wordpress" href="#" class="">Categories4</a>
				</div>
			</div><!--Portfolio filter end -->


			<!-- Isotope row start --> 
			<div class="row">
				<div id="isotope" class="isotope portfolio-page-items">
					<div class="col-sm-3 web-design">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/fertilizer 4.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 development">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/fertilizer 3.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 joomla">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/fertilizer2.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 wordpress">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/seeds4.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 web-design">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/Seeds3.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 development">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/pest4.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 joomla">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/Seeds2.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 wordpress">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/pest3.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
				</div><!-- Isotope end -->
			</div><!-- Isotope row start -->
		</div><!-- Portfolio page container end -->
	</section>
	<!-- Portfolio page end -->

	