
	<div id="inner-header">
		<img src="../assets/banner5-5b5a942f6745eff77dabed6820508c1cd16665667e3b647fc641ef3be0bc33ea.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Portfolio 4 Column</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Portfolio</a></li>
			            <li><a href="#"> Portfolio 4 Column</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Portfolio page start -->
	<section id="portfolio-page">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12"  id="isotope-filter">
					<a data-filter="*" href="#" class="active">Show All</a>
					<a data-filter=".web-design" href="#" class="">Categories1</a>
					<a data-filter=".development" href="#" class="">Categories2</a>
					<a data-filter=".joomla" href="#" class="">Categories3</a>
					<a data-filter=".wordpress" href="#" class="">Categories4</a>
				</div>
			</div><!--Portfolio filter end -->


			<!-- Isotope row start --> 
			<div class="row">
				<div id="isotope" class="isotope portfolio-page-items">
					<div class="col-sm-3 web-design">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio1-009a69cee48494af03c38d42095b3f96f57d4fe5790d6cb28d54031943eb37f8.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 development">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio2-227d91ca223514d737b8c7e00bb0053b408b31e8a7d6601ab0a4a41975083e42.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 joomla">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio3-49990a5507603204a0675dd2dc5f11127713d72ec9c3fe582bb08646dcdef558.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 wordpress">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio4-3be2e1e93e74f5ae86db3473fcb4d6d38aa8aa96c29097e65906924973726522.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 web-design">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio5-dd7fcc737ce1739658587a86e69c9c176248eb89df8efe170d0de1bb7d4795cb.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 development">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio6-e32f1111995e0a5395ab1a76698f4e365d2383b1c77105d095df5c57638fe44a.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 joomla">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio7-cc6736307d4eece617ed367f9f7b66d9970dbb906d84e039dec6aee7c3af5005.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
					<div class="col-sm-3 wordpress">
						<div class="portfolio-overlay">
							<div class="portfolio-overlay-btn">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="image-thumb">
							<img src="../assets/portfolio8-042fa7ed41e3638e1b9de56926ffbb4459c39dfd5b57b1913627797838c493ac.jpg" alt="">
						</div>
					</div><!-- col-sm-3 end -->
				</div><!-- Isotope end -->
			</div><!-- Isotope row start -->
		</div><!-- Portfolio page container end -->
	</section>
	<!-- Portfolio page end -->

	<!-- Clients start -->
	<section id="clients">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12 wow bounceIn">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Clients</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row wow fadeInUp">
	      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client1-262ff066f42c0ebff6e312b3d719c27be0e8a49defac1bf127c73d59f8cba495.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client2-f46b7e1a686a50395f29d6407a32f66ced306fef610d7eccee467653a0971b9d.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client3-5805144b5643d78f7c6f016309b2600783c11faada9afa57b35333ebb736f262.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client4-bcbd29b6d2dbfbce9f633a837f987e42bc774d2749ec53a00d03c661d57910ec.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client5-fd5b54a080fbd61a3b9240565f6b702c68f6b3d3509fcb56e3c327a6938f3337.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client6-32a68b495d54eb34db00469750857470cfb707917c900ab175a4ea35a3924a7f.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client7-dce0823c9de69a3653b338d43bb7f7b1595cb1ea88e4bddc698361f9559ec86a.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client8-c474146169bfbc00db2d95e6ac312578dd0d44982941ebd81cd08d9864607fbc.png" alt="client">
	          </a>
	        </figure>
	      </div><!-- Owl carousel end -->
	    </div><!-- Main row end -->
	  </div><!-- Main container end -->
	</section><!-- Clients end -->