
	<div id="inner-header">
		<img src="../assets/banner2.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Services</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Services</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Service page start -->
	<section id="service-page">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow slideInLeft">
					<img class="img-responsive" src="../assets/service.jpg" alt="" />
				</div>
				<div class="col-md-6 wow slideInRight">
					<h3 class="page-content-title">What We Do</h3>
					<p>Oat cake oat cake dessert brownie. Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. Dragée jujubes chocolate cake jelly beans.</p>
					<div class="gap-20"></div>
					<h4>Modern Working Envirnoments:</h4>
					<ul class="circle">
						<li>Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin 
							chupa chups oat cake liquorice.
						</li>
						<li>Curabitur pellentesque neque eget diam posuere porta hendrerit enim non justo posuere 
						</li>
						<li>Sed hendrerit enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt. </li>
						<li>Vitae lacinia nisi Mauris ac urna in dolor mollis tincidunt Nulla eleifend nisl non viverra ornare.</li>
					</ul>
				</div>
			</div><!--/ service intro row end -->


			<div class="row">
				<div class="col-md-12">
		  			<div class="text-center">
			    		<h2 class="title"><span>Exclusive Services</span></h2>
			    	</div>
	  			</div>
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-legal"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum1</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-rocket"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum2</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-briefcase"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum3</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-desktop"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum4</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-html5"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum4</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-wrench"></i></span></a>
					    <div class="service-box-content">
						    <h3>Lorem ipsum5</h3>
						    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->
		</div><!--/ container end -->
	</section><!-- Service page end -->
	


    <!-- Clients start -->
	<section id="clients">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12 wow bounceIn">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Clients</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row wow fadeInUp">
	      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client1.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client2.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client3.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client4.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client5.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client6.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client7.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client8.png" alt="client">
	          </a>
	        </figure>
	      </div><!-- Owl carousel end -->
	    </div><!-- Main row end -->
	  </div><!-- Main container end -->
	</section><!-- Clients end -->
