
	<div id="inner-header">
		<img src="../assets/banner2-6fdbc97af209e395952f7425f069b3c645acddeb0626bb9a976545590a5d9dce.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Services</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Services</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Service page start -->
	<section id="service-page">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow slideInLeft">
					<img class="img-responsive" src="../assets/bg2.JPG" alt="" />
				</div>
				<div class="col-md-6 wow slideInRight">
					<h3 class="page-content-title">What We Do</h3>
					<p>The Company shall work towards deliveing long-term shareholder value through fair business and organizational practices and the Company strongly believes that such value cannot be achieved by short changing the customer or other stakeholders or the society or willful non-compliance with the laws. Thus fairness in business and organisational dealings, trust, transparency, accountability and pursuing a policy of appropriate disclosures and communication form the core value system of the Company.</p>
					<div class="gap-20"></div>
					<h4>Modern Working Envirnoments:</h4>
					<ul class="circle">
						<li>This level of quality is achieved through adoption of a system of procedures that reflect the competence of the company to existing customers, potential customers, and independent auditing authorities.
						</li>
						<li>Curabitur pellentesque neque eget diam posuere porta hendrerit enim non justo posuere 
						</li>
						<li>Sed hendrerit enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt. </li>
						<li>Vitae lacinia nisi Mauris ac urna in dolor mollis tincidunt Nulla eleifend nisl non viverra ornare.</li>
					</ul>
				</div>
			</div><!--/ service intro row end -->


			<div class="row">
				<div class="col-md-12">
		  			<div class="text-center">
			    		<h2 class="title"><span>Exclusive Services</span></h2>
			    	</div>
	  			</div>
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-legal"></i></span></a>
					    <div class="service-box-content">
						    <h3>Production</h3>
						    <p>We help the customer with best quality of products.So that our cleint will have seeds of there choice, Pesticide and fertilizer which will suit to there seeds.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-rocket"></i></span></a>
					    <div class="service-box-content">
						    <h3>Import and Export</h3>
						    <p>Export marketing is done directly and also  merchant exporters.Offered collections of these products are made by employing qualitative ingredients and progressive technology. </p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-briefcase"></i></span></a>
					    <div class="service-box-content">
						    <h3>Best Pricing</h3>
						    <p>At very reasonable price we provide seed to customer which be easy affordable by customers .</p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->

    		<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-desktop"></i></span></a>
					    <div class="service-box-content">
						    <h3>Technologies</h3>
						    <p>New technologies products are used so that we can provide the best to the customer.We are using new Technology machines for filtering the seed.</p>
						</div>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-4 col-sm-4 wow flipInX" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-html5"></i></span></a>
					    <div class="service-box-content">
						    <h3>Customer Satisfaction</h3>
						    <p>Company work for the satisfaction of the customer.Because we can get success only when our customer will support us</p>
						</div>
					</div>
				</div><!--/ End 2nd service -->
				<div class="col-md-4 col-sm-4 wow flipInY" data-delay="100">
					<div class="service-box">
					    <a href="#"><span class="service-icon pull-left"><i class="fa fa-wrench"></i></span></a>
					    <div class="service-box-content">
						    <h3>Customer Support</h3>
						    <p>Firstly we see the customers requirement that which type of seeds,Pesticides and Fertilizer they want for there use.That we provide to them.so the needs of customer will be fulfilled.So that we will get that there support in future with quality products. </p>
						</div>
					</div>
				</div><!--/ End 3rd service -->
    		</div><!--/ service box row end -->
		</div><!--/ container end -->
	</section><!-- Service page end -->
	
