
	<div id="inner-header">
		<img src="../assets/banner3.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Our Team</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Our Team</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Team page start -->
	<section id="Team-page">
		<div class="container">
			<div class="row">
	  			<div id="team-carousel" class="owl-carousel owl-theme team-carousel team-page">
		  			<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/team1.png" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Katee Nureen 
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							      Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 1 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/team2.png" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Norun Shoal
							      <span>
							        Customer Care
							      </span>
							    </h3>
							    <p class="team-text">
							      Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 2 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/team3.png" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Mishel Lara
							      <span>
							        Sales Manager
							      </span>
							    </h3>
							    <p class="team-text">
							      Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 3 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/team4.png" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Alan Ten
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							      Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 4 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/team5.png" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Katee Nureen 
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							      Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 5 end -->
				</div>
			</div><!--/ Team row end -->
		</div><!--/ container end -->
	</section><!-- Team page end -->
	
	<!-- Clients start -->
	<section id="clients">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-12 wow bounceIn">
	  			<div class='text-center'>
		    		<h2 class="title"><span>Clients</span></h2>
		    	</div>
	  		</div>
	    </div>
	    <div class="row wow fadeInUp">
	      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client1.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client2.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client3.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client4.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client5.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client6.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client7.png" alt="client">
	          </a>
	        </figure>
	        <figure class="item client_logo">
	          <a href="#">
	            <img src="../assets/client8.png" alt="client">
	          </a>
	        </figure>
	      </div><!-- Owl carousel end -->
	    </div><!-- Main row end -->
	  </div><!-- Main container end -->
	</section><!-- Clients end -->
