
	<div id="inner-header">
		<img src="../assets/banner3-cd3fe5d50ae448183ce2a76a50cc2d3c21d4621eaeb201ec69b4e1ddb74c4078.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Our Team</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Our Team</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Team page start -->
	<section id="Team-page">
		<div class="container">
			<div class="row">
	  			<div id="team-carousel" class="owl-carousel owl-theme team-carousel team-page">
		  			<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/om prakash ji.jpg" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Om Prakash Dhakar
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							        The tradition of the company, the membersof company view their role as Trustees of the various stakeholders and the society at large and it is their endeavour to observe best  practices.  
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 1 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/omdhakar.jpg" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Om Prakash Dhakar 
							      <span>
							        Customer Care
							      </span>
							    </h3>
							    <p class="team-text">
							     The Company envisions being a dominant global player in the field of agrochemicals, biopesticides and biotechnology based products. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 2 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/chandu.jpg" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      Chandrakant Dhakar
							      <span>
							        Sales Manager
							      </span>
							    </h3>
							    <p class="team-text">
							      The basic mission of the Company is to offer “Quality Consumer Products at affordable prices” and in the process delivering long-term value to all stakeholders in the Company.
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 3 end -->
					<div class="item">
			  			<div class="page-team-wrapper">
							<div class="team-image-wrapper">
								<div class="team-image-wrapper-hover">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
								<img alt="" src="../assets/rajput.JPG" class="img-responsive">
							</div>
							<div class="team-content">
							    <h3 class="name">
							      PC Rajput
							      <span>
							        Exectuive Director
							      </span>
							    </h3>
							    <p class="team-text">
							      Company provides foundation seeds to the seed producers, which are developed under direct supervision of breeder and technical supervisors. 
							    </p>
							</div>
						</div><!--/ Team wrapper end -->
					</div><!--/ Item 4 end -->
					
				</div>
			</div><!--/ Team row end -->
		</div><!--/ container end -->
	</section><!-- Team page end -->
	