
	<div id="inner-header">
		<img src="../assets/banner3-cd3fe5d50ae448183ce2a76a50cc2d3c21d4621eaeb201ec69b4e1ddb74c4078.jpg" alt ="" />
	</div>

	<!-- Subpage title start -->
	<section id="inner-title">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	        	<div class="inner-title-content">
		        	<h2>Our Team</h2>
		        	<ul class="breadcrumb">
			            <li> <a href="#">Home </a></li>
			            <li><a href="#"> Our Team</a></li>
		          	</ul>
	          	</div>
	        </div>
	      </div>
	    </div>
	 </section>
	<!-- Subpage title end -->

	<div class="gap-40"></div>

	<!-- Team page start -->
	<section id="Team-page">
		<div class="container">
			<div class="row">
	  			 <div class="new_team_wrap">
	  				<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          
          <div class="row pt-md">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="../assets/om prakash ji.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Om Prakash Dhakar </h1>
              <h2>Exectuive Director</h2>
              <p>The tradition of the company, the membersof company view their role as Trustees of the various stakeholders and the society at large and it is their endeavour to observe best  practices. </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="../assets/omdhakar.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Om Prakash Dhakar</h1>
              <h2>Customer Care</h2>
              <p>The Company envisions being a dominant global player in the field of agrochemicals, biopesticides and biotechnology based products.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="../assets/chandu.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Chandrakant Dhakar</h1>
              <h2>Sales Manager</h2>
              <p>The basic mission of the Company is to offer “Quality Consumer Products at affordable prices” and in the process delivering long-term value to all stakeholders in the Company.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="../assets/rajput.JPG" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>PC Rajput</h1>
              <h2>Exectuive Director</h2>
              <p>Company provides foundation seeds to the seed producers, which are developed under direct supervision of breeder and technical supervisors.  </p>
            </div>
	  			</div>




            
          
             
         
             
            
          
             
          </div>
        </div>
      </div>
    </div>
  </div>
			</div><!--/ Team row end -->
		</div><!--/ container end -->
	</section><!-- Team page end -->


	