	
	<!-- Main Footer start -->
	<section id="footer-wrapper">
		<!-- Footer top start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-about-us">
							<img src="../assets/logo-7875c7c1766d17c4fdd80c5f726e6ceaa72e5e460d7f2637d39610d2cc26b4af.png" alt="about" />
							<p class="desc">In its Endeavour to be a completer agriculture solution provider, the company had introduced its own retail chain of agribusiness centers and agri clinics under the brand name of “Sawariya kisan Bazar ".</p>
							<p class="footer-social">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</p>
						</div>
					</div><!--/ end about us -->
					
					<div class="col-md-3">
						<div class="recent-post">
							<h3 class="footer-title"><span>Recent <strong>Posts</strong></span></h3>
							<ul>
	                            <li><a href="#">New Pesticides</a></li>
	                            <li><a href="#">Best Quality Seeds</a></li>
	                            <li><a href="#">Variety Of Fertilizer</a></li>
	                            <li><a href="#">Best Pricing</a></li>
	                            <li><a href="#">With Best Offers</a></li>
	                        </ul>
						</div>
					</div><!--/ end recent post -->

					<div class="col-md-3">
						<div class="img-gallery">
							<h3 class="footer-title"><span>Photo <strong>Gallery</strong></span></h3>
							<div class="img-container">
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/1.jpg">
									<img src="../assets/sw7.JPG" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/2.jpg">
									<img src="../assets/sw8.JPG" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/3.jpg">
									<img src="../assets/sw9.JPG" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/4.jpg">
									<img src="../assets/sw4.JPG" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/5.jpg">
									<img src="../assets/sw6.JPG" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/6.jpg">
									<img src="../assets/sw5.JPG" alt="gallery">
								</a>
							</div>
						</div>
					</div><!--/ end flickr -->

					<div class="col-md-3">
						<div class="twitter">
							<h3 class="footer-title"><span>Twitter <strong>Feed</strong></span></h3>
							<div class="tweet">
			                  <div>This chain servers farmers by facilities their all agriculture needs and provides free agricultural consultancy services ranging from sowing to harvesting of crops. <a href="#">http://twitterinfo </a> 
			                  </div>
			                  <p class="tweet-time"><i class="fa fa-twitter"></i> 2 Days ago</p>
			                </div>
						</div>
					</div><!--/ end tweet -->

				</div><!-- Row end -->
			</div><!-- Container end -->
		</footer><!-- Footer top end -->

		<!-- Footer bottom start -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-5 wow fadeInLeft">
						<ul class="footer-bottom-menu">
							<li><a href="#">About Us</a></li>
	                        <li><a href="#">Blog</a></li>
	                        <li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<a id="back-to-top" href="#" class="scroll-up back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
							 
						</a>
					</div>
					<div class="col-md-5 wow fadeInRight">
						<div class="copyright-info">
	         			 &copy; Copyright 2017 Sawariya. <span> developed by- <a href="#" target="_blank">Risedigitech.</a></span>
	        			</div>
					</div>
				</div><!-- Row end -->
			</div><!-- Container end -->
		</div><!-- Footer bottom end -->
	</section>
	<!-- Footer section end -->