	
	<!-- Main Footer start -->
	<section id="footer-wrapper">
		<!-- Footer top start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-about-us">
							<img src="../assets/logo-7875c7c1766d17c4fdd80c5f726e6ceaa72e5e460d7f2637d39610d2cc26b4af.png" alt="about" />
							<p class="desc">Suspendisse condimentum mollis vehicula. Praesent sodales interdum elit interdum ornare. Suspendisse tristique semper arcu nec.</p>
							<p class="footer-social">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</p>
						</div>
					</div><!--/ end about us -->
					
					<div class="col-md-3">
						<div class="recent-post">
							<h3 class="footer-title"><span>Recent <strong>Posts</strong></span></h3>
							<ul>
	                            <li><a href="#">Pellentesque dolor metus</a></li>
	                            <li><a href="#">Sed neque lacus mollis vitae</a></li>
	                            <li><a href="#">Vivamus dignissim turpis</a></li>
	                            <li><a href="#">Pellentesque aliquam lorem</a></li>
	                            <li><a href="#">Fusce suscipit lectus at</a></li>
	                        </ul>
						</div>
					</div><!--/ end recent post -->

					<div class="col-md-3">
						<div class="img-gallery">
							<h3 class="footer-title"><span>Photo <strong>Gallery</strong></span></h3>
							<div class="img-container">
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/1.jpg">
									<img src="../assets/1-5d44d13491ae7de2da417c5cc8f5a6814f6e16403c52c1337ab7b989197b7dfb.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/2.jpg">
									<img src="../assets/2-a94019eb13d69a64d0c136f179442d6c96985a7be2ab722390eb7e9fdbc6be83.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/3.jpg">
									<img src="../assets/3-2f161d159f5b5cd7c35f4fe5f2a7490b0523061d790688ddd73c4fe478905ecd.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/4.jpg">
									<img src="../assets/4-e56b196d116dda117633f1d4b10e8e05167b719c86fde9ccf00ebf8213cd49c4.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/5.jpg">
									<img src="../assets/5-c20daecd044f0075ac0a0858c21c36a8f5df6560f5313c231e490833644fae16.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/6.jpg">
									<img src="../assets/6-7993bb78163042895089fd622aeb3aa869be6ee762924e6533056e48be23f55f.jpg" alt="gallery">
								</a>
							</div>
						</div>
					</div><!--/ end flickr -->

					<div class="col-md-3">
						<div class="twitter">
							<h3 class="footer-title"><span>Twitter <strong>Feed</strong></span></h3>
							<div class="tweet">
			                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at dolor lectus, vel rhoncus magna. <a href="#">http://twitterinfo </a> 
			                  </div>
			                  <p class="tweet-time"><i class="fa fa-twitter"></i> 2 Days ago</p>
			                </div>
						</div>
					</div><!--/ end tweet -->

				</div><!-- Row end -->
			</div><!-- Container end -->
		</footer><!-- Footer top end -->

		<!-- Footer bottom start -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-5 wow fadeInLeft">
						<ul class="footer-bottom-menu">
							<li><a href="#">About Us</a></li>
	                        <li><a href="#">Blog</a></li>
	                        <li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<a id="back-to-top" href="#" class="scroll-up back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
							 
						</a>
					</div>
					<div class="col-md-5 wow fadeInRight">
						<div class="copyright-info">
	         			 &copy; Copyright 2017 Sawariya. <span> developed by- <a href="#" target="_blank">Risedigitech.</a></span>
	        			</div>
					</div>
				</div><!-- Row end -->
			</div><!-- Container end -->
		</div><!-- Footer bottom end -->
	</section>
	<!-- Footer section end -->