	
	<!-- Main Footer start -->
	<section id="footer-wrapper">
		<!-- Footer top start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-about-us">
							<img src="../assets/logo.png" alt="about" />
							<p class="desc">Suspendisse condimentum mollis vehicula. Praesent sodales interdum elit interdum ornare. Suspendisse tristique semper arcu nec.</p>
							<p class="footer-social">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</p>
						</div>
					</div><!--/ end about us -->
					
					<div class="col-md-3">
						<div class="recent-post">
							<h3 class="footer-title"><span>Recent <strong>Posts</strong></span></h3>
							<ul>
	                            <li><a href="#">Pellentesque dolor metus</a></li>
	                            <li><a href="#">Sed neque lacus mollis vitae</a></li>
	                            <li><a href="#">Vivamus dignissim turpis</a></li>
	                            <li><a href="#">Pellentesque aliquam lorem</a></li>
	                            <li><a href="#">Fusce suscipit lectus at</a></li>
	                        </ul>
						</div>
					</div><!--/ end recent post -->

					<div class="col-md-3">
						<div class="img-gallery">
							<h3 class="footer-title"><span>Photo <strong>Gallery</strong></span></h3>
							<div class="img-container">
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/1.jpg">
									<img src="../assets/1.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/2.jpg">
									<img src="../assets/2.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/3.jpg">
									<img src="../assets/3.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/4.jpg">
									<img src="../assets/4.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/5.jpg">
									<img src="../assets/5.jpg" alt="gallery">
								</a>
								<a class="thumb-holder" data-rel="prettyPhoto" href="../assets/6.jpg">
									<img src="../assets/6.jpg" alt="gallery">
								</a>
							</div>
						</div>
					</div><!--/ end flickr -->

					<div class="col-md-3">
						<div class="twitter">
							<h3 class="footer-title"><span>Twitter <strong>Feed</strong></span></h3>
							<div class="tweet">
			                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at dolor lectus, vel rhoncus magna. <a href="#">http://twitterinfo </a> 
			                  </div>
			                  <p class="tweet-time"><i class="fa fa-twitter"></i> 2 Days ago</p>
			                </div>
						</div>
					</div><!--/ end tweet -->

				</div><!-- Row end -->
			</div><!-- Container end -->
		</footer><!-- Footer top end -->

		<!-- Footer bottom start -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-5 wow fadeInLeft">
						<ul class="footer-bottom-menu">
							<li><a href="#">About Us</a></li>
	                        <li><a href="#">Blog</a></li>
	                        <li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<a id="back-to-top" href="#" class="scroll-up back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
							 
						</a>
					</div>
					<div class="col-md-5 wow fadeInRight">
						<div class="copyright-info">
	         			 &copy; Copyright 2017 Sawariya. <span> developed by- <a href="#" target="_blank">Risedigitech.</a></span>
	        			</div>
					</div>
				</div><!-- Row end -->
			</div><!-- Container end -->
		</div><!-- Footer bottom end -->
	</section>
	<!-- Footer section end -->